<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="basket">
	<select id="selectBasketList" parameterType="string" resultType="map">
		SELECT * 
		FROM BASKET B JOIN PRODUCT P ON B.PRODUCTNO=P.PRODUCTNO
		WHERE MEMBERID=#{memberId}
	</select>
	<delete id="deleteBasket" parameterType="_int">
		DELETE FROM BASKET WHERE BASKETNO=#{basketNo}
	</delete>
	<update id="updateAmount" parameterType="map">
		UPDATE BASKET SET AMOUNT=${amount} WHERE BASKETNO=${basketNo}
	</update>
	<select id="selectBasketCount" resultType="_int" parameterType="string">
		SELECT COUNT(*) FROM BASKET WHERE MEMBERID=#{memberId}
	</select>
	<select id="selectBasketOne" resultType="basket" parameterType="int">
		SELECT * 
		FROM BASKET B JOIN PRODUCT P ON B.PRODUCTNO=P.PRODUCTNO
		WHERE BASKETNO=#{basketNo}
	</select>
	<insert id="insertBasket" parameterType="map">
		INSERT INTO BASKET VALUES(SEQ_BASKET.NEXTVAL,#{productNo},#{amount},#{memberId})
	</insert>
	<select id="checkBasket" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM BASKET WHERE MEMBERID=#{memberId} AND PRODUCTNO=#{productNo}
	</select>
	<update id="updateBasket" parameterType="map">
		<selectKey resultType="_int" keyProperty="basketNo" order="BEFORE">
			SELECT BASKETNO FROM BASKET WHERE MEMBERID=#{memberId} AND PRODUCTNO=#{productNo}
		</selectKey>
		UPDATE BASKET SET AMOUNT=AMOUNT+#{amount} WHERE BASKETNO=#{basketNo}
	</update>
</mapper>
