<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cycle">
	
	<select id="selectCycleList" resultType="cycleProduct" parameterType="map">
		<!-- SELECT * 
		FROM CYCLE C 
		JOIN (SELECT * FROM PRODUCT P JOIN MEDIUMCATE M ON P.MEDIUMCATE=M.MEDIUMCATE) PM 
		ON C.PRODUCTNO=PM.PRODUCTNO 
		WHERE MEMBERID=#{id}  -->
		SELECT * 
		FROM CYCLE C 
		JOIN (SELECT * FROM PRODUCT P JOIN MEDIUMCATE M ON P.MEDIUMCATE=M.MEDIUMCATE) PM 
		ON C.PRODUCTNO=PM.PRODUCTNO 
		JOIN (SELECT PRODUCTNO, ODAMOUNT FROM ORDERDETAIL WHERE ORDERDETAILNO IN (
		                SELECT MAX(OD.ORDERDETAILNO)
		                FROM ORDER_TB OT
		                JOIN ORDERDETAIL OD
		                ON OT.ORDERNO=OD.ORDERNO
		                WHERE OT.ORDERSTATUS IN ('a','b','c') 
		                GROUP BY OD.PRODUCTNO)) O
		ON C.PRODUCTNO=O.PRODUCTNO
		WHERE C.MEMBERID=#{id}
		<if test="tab != null">
			AND LARGECATE=#{tab}
		</if>
		<if test="detailTab != null">
			AND MCNAME=#{detailTab}
		</if>
	</select>
  
  	<select id="selectCycleOne" resultType="cycleProduct" parameterType="map">
  		<!-- SELECT * 
  		FROM CYCLE C 
  		JOIN (SELECT * FROM PRODUCT P JOIN MEDIUMCATE M ON P.MEDIUMCATE=M.MEDIUMCATE) PM 
  		ON C.PRODUCTNO=PM.PRODUCTNO 
  		WHERE MEMBERID=#{id} AND C.PRODUCTNO=#{no} -->
  		SELECT * 
		FROM CYCLE C 
		JOIN (SELECT * FROM PRODUCT P JOIN MEDIUMCATE M ON P.MEDIUMCATE=M.MEDIUMCATE) PM 
		ON C.PRODUCTNO=PM.PRODUCTNO 
		JOIN (SELECT PRODUCTNO, ODAMOUNT FROM ORDERDETAIL WHERE ORDERDETAILNO IN (
		                SELECT MAX(OD.ORDERDETAILNO)
		                FROM ORDER_TB OT
		                JOIN ORDERDETAIL OD
		                ON OT.ORDERNO=OD.ORDERNO
		                WHERE OT.ORDERSTATUS IN ('a','b','c') 
		                GROUP BY OD.PRODUCTNO)) O
		ON C.PRODUCTNO=O.PRODUCTNO
		WHERE C.MEMBERID=#{id} AND C.PRODUCTNO=#{no}
  	</select>
  	
  	<update id="updateCycle">
  		UPDATE CYCLE
  		<set>
  			<if test="chooseCycle != null">CYCLEMODE=#{chooseCycle},</if>
  			<if test="offInput != null">OFFCYCLE=#{offInput},</if>
  			<if test="startCheckbox != null">LASTSTARTDATE=STARTDATE, STARTDATE=#{start}</if>
  		</set>
  		WHERE MEMBERID=#{id} and PRODUCTNO=#{no}
  	</update>
  	
  	<select id="selectCountCycle" parameterType="string" resultType="countCycle">
  		SELECT LARGECATE, COUNT(*) count
  		FROM CYCLE C 
  		JOIN (SELECT * FROM PRODUCT P JOIN MEDIUMCATE M ON P.MEDIUMCATE=M.MEDIUMCATE) PM 
  		ON C.PRODUCTNO=PM.PRODUCTNO 
  		WHERE MEMBERID=#{id}
  		GROUP BY LARGECATE
  	</select>
  	
  	
  	<select id="selectCycleExist" parameterType="map" resultType="_int">
  			SELECT COUNT(*) FROM CYCLE WHERE MEMBERID=#{id} AND PRODUCTNO=#{no}
  	</select>
  	
  	<insert id="insertCycle" parameterType="map">
  		<selectKey keyProperty="defaultCycle" resultType="_int" order="BEFORE">
  			SELECT DEFCYCLE FROM PRODUCT WHERE PRODUCTNO=#{no}
  		</selectKey>
  		INSERT INTO CYCLE VALUES(#{id},#{no},default,default,default,null,#{defaultCycle},default)
  	</insert>
  	
  	<select id="selectRecentCycle" parameterType="map" resultType="map">
  		SELECT * 
		FROM (SELECT ROWNUM RNUM, A.*
		      FROM (SELECT ODAMOUNT, ORDERDATE
					FROM ORDER_TB OT
		            JOIN ORDERDETAIL OD
		            ON OT.ORDERNO=OD.ORDERNO
		            WHERE MEMBERID=#{id} AND PRODUCTNO=#{no} AND (ORDERSTATUS IN ('a','b','c'))
		            ORDER BY OT.ORDERNO DESC) A)
		WHERE RNUM <![CDATA[<=]]> #{limit}
  	</select>
  	
  	<update id="updateOnCycle" parameterType="map">
  		UPDATE CYCLE 
  		SET LASTSTARTDATE=STARTDATE, STARTDATE=SYSDATE, ONCYCLE=#{onCycle}
  		WHERE MEMBERID=#{id} and PRODUCTNO=#{no}
  	</update>
  	
  	<select id="selectProductNo" parameterType="map" resultType="_int">
  		SELECT PRODUCTNO
		FROM BASKET
		WHERE BASKETNO=#{basketno} AND MEMBERID=#{id}
  	</select>
  	
  	
  	
  	
  	
  
</mapper>
