<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="with">
	
	<resultMap id="withMap" type="withBoard">
		<result column="wbship" property="wbShip" typeHandler="strArr"/>
	</resultMap>

	<insert id="insertWith" parameterType="withBoard">
		INSERT INTO WITHBOARD VALUES(SEQ_WB_NO.NEXTVAL,
									#{memberId},
									#{wbTitle},
									#{wbType},
									#{wbPrice},
									#{wbContent},
									DEFAULT,
									DEFAULT,
									#{wbUse},
									#{wbShip, typeHandler=strArr},
									DEFAULT,
									<choose>
										<when test='wbPhone!=null'>#{wbPhone},</when>
										<otherwise>DEFAULT,</otherwise>
									</choose>
									SYSDATE
									)
	</insert>
	
	<select id="selectAllWith" resultMap="withMap">
		SELECT * FROM WITHBOARD 
		WHERE WBDEL = 'Y'
		ORDER BY WBDATE DESC
			
	</select>
	
	<select id="selectWithCount" resultType="_int">
		SELECT COUNT(*) FROM WITHBOARD
	</select>
	
	<select id="selectOneWith" resultMap="withMap" parameterType="_int">
		SELECT * FROM WITHBOARD WHERE WBNO=#{no}
	</select>
	
	<insert id="insertWithReply" parameterType="withComment">
		INSERT INTO WITHCOMMENT VALUES(
										SEQ_WC_NO.NEXTVAL,
										#{wbNo},
										#{memberId},
										0,
										#{wcContent},
										1,
										DEFAULT,
										SYSDATE,
										null,
										null
										)
	</insert>
	
	<select id="selectAllWithReply" parameterType="_int" resultType="withComment">
		SELECT WCNO,
				WCLEVEL,
				WCPARENT,
				CASE WHEN WCDEL='N' THEN '*** 작성자에 의해 삭제된 댓글입니다 ***'
				ELSE WCCONTENT END WCCONTENT,
				MEMBERID,
				WCADDDATE,
				WCUPDATE,
				WCDELDATE,
				WCDEL
		FROM(SELECT *
			FROM WITHCOMMENT
			WHERE WBNO=#{bno}			
			)
		START WITH WCPARENT=0
		CONNECT BY PRIOR WCNO=WCPARENT
		ORDER SIBLINGS BY MEMBERID				
	</select>
	
	<insert id="insertWithReplySecond" parameterType="withComment">
		INSERT INTO WITHCOMMENT VALUES(
										SEQ_WC_NO.NEXTVAL,
										#{wbNo},
										#{memberId},
										#{wcParent},
										#{wcContent},
										2,
										'Y',
										SYSDATE,
										NULL,
										NULL
										)
	</insert>
	
	<update id="deleteWithReply" parameterType="_int">
		UPDATE WITHCOMMENT 
		SET WCDEL='N'
		WHERE WCNO=#{no}
	</update>
	
	<select id="selectOneWithReply" parameterType="_int" resultType="withComment">
		SELECT * FROM WITHCOMMENT
		WHERE WCNO=#{wcNo}
	</select>
	
	<update id="withBoardCount" parameterType="_int">
		UPDATE WITHBOARD 
		SET WBCOUNT=WBCOUNT+1
		WHERE WBNO=#{no}
	</update>
</mapper>
