<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
  
  <insert id="insertMember" parameterType="member">
  	<if test="memberPw!=null">
	  	INSERT INTO MEMBER VALUES(#{memberId},#{memberName},#{memberPw}, 
	  				#{zipcode},#{address},#{detailAddress},#{email},#{gender},
	  				#{birth},#{phone},default,default,#{emailStatus},default,default,default,null)
	</if>
	<if test="memberPw==null">
	  	INSERT INTO MEMBER VALUES(#{memberId},#{memberName},null, 
	  				#{zipcode},#{address},#{detailAddress},#{email},#{gender},
	  				#{birth},#{phone},default,default,#{emailStatus},default,default,default,null)
	</if>
  </insert>
  
  <select id="selectMemberOne" parameterType="string" resultType="member">
  	SELECT * FROM MEMBER WHERE MEMBERID=#{id}
  </select>
  
  <update id="updateAuthKey" parameterType="map">
  	UPDATE MEMBER SET AUTHKEY=#{key} WHERE MEMBERID=#{id}
  </update>
  
  <update id="updateAuthStatus" parameterType="string">
  	UPDATE MEMBER SET AUTHSTATUS='Y' WHERE MEMBERID=#{id}
  </update>
  

  <update id="updateMileage" parameterType="map">
  	UPDATE MEMBER SET MEILEAGE=#{memberMileage} WHERE MEMBERID=#{memberId}
  </update>
  

  <update id="updateMember" parameterType="member">
  		UPDATE MEMBER SET
	  		MEMBERNAME = #{memberName},
	  		ZIPCODE = #{zipcode},
	  		ADDRESS = #{address},
	  		DETAILADDRESS = #{detailAddress},
	  		EMAIL = #{email},
	  		GENDER = #{gender},
	  		BIRTH = #{birth},
	  		PHONE = #{phone},
	  		EMAILSTATUS = #{emailStatus}
	    	<if test="authStatus.equals('N')">
	    	,AUTHSTATUS = 'N'
	    	,AUTHKEY = null
  			</if>		
  		WHERE MEMBERID = #{memberId}
  </update>
  
  <update id="updateMemberPw" parameterType="map">
  	UPDATE MEMBER SET MEMBERPW = #{pw}
  				WHERE MEMBERID = #{id}
  </update>

</mapper>
