<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myAdminProduct">

<select id="selectTotalList" resultType="productCate">
	SELECT P.*, M.MCNAME, M.LARGECATE FROM PRODUCT P, MEDIUMCATE M WHERE P.MEDIUMCATE=M.MEDIUMCATE
</select>

<select id="selectTotalCount" resultType="_int">
	SELECT COUNT(*) FROM PRODUCT
</select>
<!--노출여부 -->
<select id="selectShowCount" resultType="_int">
	SELECT COUNT(*) FROM PRODUCT WHERE PRODUCTSTATUS='Y'
</select>
<!-- 재고 -->
<select id="selectStockCount" resultType="_int">
	SELECT COUNT(*) FROM PRODUCT WHERE  PRODUCTSTOCK <![CDATA[<]]>6
</select>
<!-- 주기 -->
<!-- <select id="selectDefCount" resultType="_int">
	SELECT COUNT(*) FROM (SELECT P.PRODUCTDATE, P.DEFCYCLE, (TO_DATE(TO_CHAR(TRUNC(PRODUCTDATE,'dd'),'yyyymmdd'))+DEFCYCLE)-TO_DATE(SYSDATE) Cal FROM PRODUCT P, DUAL) 
	WHERE
	(TO_DATE(TO_CHAR(TRUNC(PRODUCTDATE,'dd'),'yyyymmdd'))+DEFCYCLE)-TO_DATE(SYSDATE)  <![CDATA[<]]>7
</select> -->

<select id="selectTodayCount" resultType="_int">
	SELECT COUNT(*) FROM PRODUCT WHERE  TO_CHAR(PRODUCTDATE,'YYYYMMDD')=TO_CHAR(SYSDATE,'YYYYMMDD')
</select>

<!-- 검색 보류
<select id="searchNameProduct" resultType="productCate" parameterType="map">
	SELECT P.*, M.MCNAME, M.LARGECATE FROM PRODUCT P, MEDIUMCATE M WHERE P.MEDIUMCATE=M.MEDIUMCATE 
	AND 
	<choose>
	<if test="keyword!=null">
		<when test="type=='name'.toString()">
		 P.PRODUCTNAME LIKE CONCAT('%',#{keyword},'%')
		 </when>
		 <when test="type=='cate'.toString()">
		 M.MCNAME LIKE CONCAT('%',#{keyword},'%')
		 </when>
		 <when test="type=='popular'.toString()">
		 O.ODAMOUNT LIKE CONCAT('%',#{keyword},'%')
		 </when>
	 </if>
	</choose>
</select> -->

<!-- 카테고리 -->
<select id="selectCateList" resultType="adminCate">
	SELECT P.*, M.MCNAME, M.LARGECATE, M.ENROLLCATE FROM PRODUCT P, MEDIUMCATE M WHERE P.MEDIUMCATE=M.MEDIUMCATE
</select>

<select id="selectTotalCateCount" resultType="_int">
	SELECT COUNT(*) FROM MEDIUMCATE
</select>

<select id="largeCateCount" resultType="_int">
	SELECT COUNT(DISTINCT LARGECATE) FROM MEDIUMCATE
</select>

<select id="mediCateCount" resultType="_int">
	SELECT COUNT(DISTINCT MCNAME) FROM MEDIUMCATE
</select>

<select id="todayEnrollCount" resultType="_int">
	SELECT COUNT(*) FROM MEDIUMCATE WHERE TO_CHAR(ENROLLCATE,'YYYYMMDD')=TO_CHAR(SYSDATE,'YYYYMMDD')
</select>

<select id="selectLargeCateList" resultType="category">
	SELECT DISTINCT LARGECATE FROM MEDIUMCATE
</select>

<select id="selectMediCateList" resultType="category">
	SELECT DISTINCT MEDIUMCATE ,MCNAME, LARGECATE FROM MEDIUMCATE
</select>

<select id="selectNewOneCate" resultType="category">
	SELECT MCNAME FROM MEDIUMCATE WHERE TO_CHAR(ENROLLCATE,'YYYYMMDD')=TO_CHAR(SYSDATE,'YYYYMMDD')
</select>

<select id="selectListInMedi" resultType="adminCate" parameterType="map">
SELECT P.*, M.MCNAME, M.LARGECATE, M.ENROLLCATE FROM PRODUCT P, MEDIUMCATE M WHERE P.MEDIUMCATE=M.MEDIUMCATE
<choose>
<when test='largeCate!=null and largeCate!=""'>
	 AND LARGECATE LIKE #{largeCate}
</when>
<otherwise>
	AND MCNAME LIKE #{mcName}
</otherwise>
</choose>
</select>

<select id="cateView" resultType="category" parameterType="String">
	SELECT * FROM MEDIUMCATE WHERE MEDIUMCATE=#{value}
</select>

<update id="updateCate" parameterType="map">
	UPDATE MEDIUMCATE SET MCNAME=#{mcName}, LARGECATE=#{largeCate} WHERE MEDIUMCATE=#{mediumCate}
</update>

<select id="cateNameCheck" resultType="category" parameterType="String">
	SELECT MCNAME FROM MEDIUMCATE WHERE MCNAME=#{name}
</select>

<insert id="insertCate" parameterType="map">
	INSERT INTO MEDIUMCATE VALUES((SELECT NVL(MAX(MEDIUMCATE)+1,0) FROM MEDIUMCATE),#{mcName},#{largeCate},SYSDATE)
</insert>

<delete id="deleteCate" parameterType="String">
	DELETE FROM MEDIUMCATE WHERE MEDIUMCATE=TO_NUMBER(#{id})
</delete>

<select id="searchDate" resultType="adminCate" parameterType="map">
	SELECT P.*, M.MCNAME, M.LARGECATE, M.ENROLLCATE FROM PRODUCT P, MEDIUMCATE M WHERE P.MEDIUMCATE=M.MEDIUMCATE
	AND M.ENROLLCATE BETWEEN #{one} AND #{two}
</select>
</mapper>
