<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wishList">
  	
  <insert id="insertWishList" parameterType="_int">
  	<!-- memberId 넣기 -->
  	INSERT INTO WISHLIST(MEMBERID,PRODUCTNO) 
  		SELECT 'USER01',#{no} FROM DUAL
  			WHERE NOT EXISTS(SELECT 0 FROM WISHLIST WHERE PRODUCTNO=#{no})
    
  </insert>
  	
  	<!-- memberId 넣기 -->
  <select id="selectWishList" resultType="map">
  	SELECT P.PRODUCTNO, P.PRODUCTNAME, P.PRODUCTIMG, P.PRICE
		FROM WISHLIST JOIN PRODUCT P ON WISHLIST.PRODUCTNO=P.PRODUCTNO
  </select>	
  	
  <delete id="deleteWishList" parameterType="_int">
  	DELETE FROM WISHLIST WHERE PRODUCTNO=#{no}
  </delete>
  	
</mapper>
