<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">

	<select id="selectCategory" resultType="category"
		parameterType="String">
			SELECT DISTINCT LARGECATE FROM MEDIUMCATE
	</select>
	
	<select id="selectMediumCategory" resultType="category"
		parameterType="java.lang.String">
		SELECT LARGECATE, MCNAME 
		FROM 
				MEDIUMCATE 
		WHERE
				LARGECATE = #{largeCate}
	</select>

	<select id="selectOneCategory" resultType="category" parameterType="map">
		 SELECT MEDIUMCATE FROM MEDIUMCATE WHERE MCNAME=#{mcName}
		<!-- SELECT * FROM MEDIUMCATE -->
	</select>

	
	<insert id="insertEnroll" parameterType="product">
		INSERT INTO PRODUCT
		VALUES(SEQ_PRODUCTNO.NEXTVAL,
		#{productName},
		#{productSummary},
		#{productContent},
		#{productImg},
		#{productStatus},
		#{productStock},
		#{price},
		TO_NUMBER(#{mediumCate}),
		SYSDATE,
		#{defCycle}
		)
	</insert>
	
	<insert id="enrollCate" parameterType="map">
		INSERT INTO MEDIUMCATE VALUES(SEQ_MEDIUMCATE.NEXTVAL,#{mcName},#{largeCate})
	</insert>
	
	<select id="productView" resultType="com.kh.maison.admin.product.model.vo.ProductCate">
		SELECT p.*, m.* FROM PRODUCT P, MEDIUMCATE M
	</select>
	
	<update id="updateEnroll" parameterType="product">
		UPDATE PRODUCT SET 
		PRODUCTNAME=#{productName},
		PRODUCTSUMMARY=#{productSummary},
		PRODUCTCONTENT=#{productContent},
		PRODUCTIMG=#{productImg},
		PRODUCTSTATUS=#{productStatus},
		PRODUCTSTOCK=#{productStock},
		PRICE=#{price},
		MEDIUMCATE=#{mediumCate},
		DEFCYCLE=#{defCycle}
		WHERE PRODUCTNO=#{productNo}
	</update>	
</mapper>
