<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
	<insert id="insertOrder" parameterType="order">	
		INSERT INTO ORDER_TB VALUES(SEQ_ORDERNO.NEXTVAL,#{memberId},
		'c',#{orderPrice},#{totalPrice},#{useMile},#{stackMile},#{receiver},
			#{sellRequest},#{deliRequest},#{orPhone},#{orZipcode},
			#{orAddress},#{orDetailAddress},'a',SYSDATE, NULL)
	</insert>
	
	<insert id="insertOrderDetail" parameterType="basket">
		 <!-- <foreach collection="array" item="item" open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO ORDERDETAIL (ORDERDETAILNO,ORDERNO,PRODUCTNO,ODAMOUNT)
				VALUES(
							(SELECT NVL(MAX(ORDERDETAILNO),0)+1 FROM ORDERDETAIL) AS ORDERDETAILNO,
							(SELECT ORDERNO FROM BASKET WHERE BASKETNO=#{item}) AS ORDERNO,
							(SELECT PRODUCTNO FROM BASKET WHERE BASKETNO=#{item}) AS PRODUCTNO,
							(SELECT AMOUNT FROM BASKET WHERE BASKETNO=#{item}) AS ODAMOUNT
							)

		</foreach>  -->
		
		<selectKey keyProperty="orderNo" resultType="_int" order="BEFORE" >
			SELECT SEQ_ORDERNO.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO ORDERDETAIL VALUES(SEQ_ORDERDETAILNO.NEXTVAL,

			#{orderNo},

			(SELECT PRODUCTNO FROM BASKET WHERE BASKETNO=#{basketNo}),
			(SELECT AMOUNT FROM BASKET WHERE BASKETNO=#{basketNo}))

	<!-- 	INSERT INTO ORDERDETAIL VALUES(SEQ_ORDERDETAILNO.NEXTVAL,
			(SELECT NVL(MAX(ORDERNO),0)+1 FROM ORDER_TB),
			(SELECT PRODUCTNO FROM BASKET WHERE BASKETNO=#{basketNo}),
			(SELECT AMOUNT FROM BASKET WHERE BASKETNO=#{basketNo})) -->
		
	</insert>
	
	<insert id="insertBuyOrderDetail" parameterType="map">
		INSERT INTO ORDERDETAIL VALUES(SEQ_ORDERDETAILNO.NEXTVAL,
			(SELECT NVL(MAX(ORDERNO),0) FROM ORDER_TB),
			#{productNo},#{amount})
	</insert>
	
	<select id="selectOrderDetail" resultType="orderDetail" parameterType="string">
		SELECT * FROM ORDERDETAIL OD JOIN ORDER_TB O ON OD.ORDERNO=O.ORDERNO
			JOIN PRODUCT P ON P.PRODUCTNO=OD.PRODUCTNO
				WHERE O.ORDERNO=(SELECT MAX(ORDERNO) FROM ORDER_TB O WHERE O.MEMBERID=#{memberId}) 
	</select>
	
	<select id="selectShippingDestination" resultType="ShippingDestination" parameterType="string">
		SELECT ROWNUM,A.*
			FROM (SELECT * FROM SHIPPINGDESTINATION WHERE MEMBERID=#{memberId} ORDER BY SDNO DESC) A
				WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<insert id="insertShippingDestination" parameterType="order">
		INSERT INTO SHIPPINGDESTINATION VALUES(SEQ_SHIPPINGDESTINATION.NEXTVAL,#{receiver},#{receiver},#{memberId},#{orZipcode},
			#{orAddress},#{orDetailAddress},#{orPhone})
	</insert>
	
	<delete id="deleteBasket" parameterType="basket">
		DELETE FROM BASKET WHERE BASKETNO=#{basketNo}
	</delete>
	
	<select id="selectOrderList" resultType="order">
		SELECT * FROM ORDER_TB ORDER BY ORDERDATE DESC
	</select>
	
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM ORDER_TB
	</select>
	
	
  
</mapper>
