<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
	<insert id="insertOrder" parameterType="order">	
		INSERT INTO ORDER_TB VALUES(SEQ_ORDERNO.NEXTVAL,#{memberId},
		'c',#{orderPrice},#{totalPrice},#{useMile},#{stackMile},#{receiver},
			#{sellRequest},#{deliRequest},#{orPhone},#{orZipcode},
			#{orAddress},#{orDetailAddress},'a',SYSDATE, NULL)
	</insert>
	
	<insert id="insertOrderDetail" parameterType="basket">
		 <!-- <foreach collection="array" item="item" open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO ORDERDETAIL (ORDERDETAILNO,ORDERNO,PRODUCTNO,ODAMOUNT)
				VALUES(
							(SELECT NVL(MAX(ORDERDETAILNO),0)+1 FROM ORDERDETAIL) AS ORDERDETAILNO,
							(SELECT ORDERNO FROM BASKET WHERE BASKETNO=#{item}) AS ORDERNO,
							(SELECT PRODUCTNO FROM BASKET WHERE BASKETNO=#{item}) AS PRODUCTNO,
							(SELECT AMOUNT FROM BASKET WHERE BASKETNO=#{item}) AS ODAMOUNT
							)

		</foreach>  -->
		
		<selectKey keyProperty="orderNo" resultType="_int" order="BEFORE" >
			SELECT SEQ_ORDERNO.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO ORDERDETAIL VALUES(SEQ_ORDERDETAILNO.NEXTVAL,

			#{orderNo},

			(SELECT PRODUCTNO FROM BASKET WHERE BASKETNO=#{basketNo}),
			(SELECT AMOUNT FROM BASKET WHERE BASKETNO=#{basketNo}))

	<!-- 	INSERT INTO ORDERDETAIL VALUES(SEQ_ORDERDETAILNO.NEXTVAL,
			(SELECT NVL(MAX(ORDERNO),0)+1 FROM ORDER_TB),
			(SELECT PRODUCTNO FROM BASKET WHERE BASKETNO=#{basketNo}),
			(SELECT AMOUNT FROM BASKET WHERE BASKETNO=#{basketNo})) -->
		
	</insert>
	
	<insert id="insertBuyOrderDetail" parameterType="map">
		INSERT INTO ORDERDETAIL VALUES(SEQ_ORDERDETAILNO.NEXTVAL,
			(SELECT NVL(MAX(ORDERNO),0) FROM ORDER_TB),
			#{productNo},#{amount})
	</insert>
	
	<select id="selectOrderDetail" resultType="orderDetail" parameterType="string">
		SELECT * FROM ORDERDETAIL OD JOIN ORDER_TB O ON OD.ORDERNO=O.ORDERNO
			JOIN PRODUCT P ON P.PRODUCTNO=OD.PRODUCTNO
				WHERE O.ORDERNO=(SELECT MAX(ORDERNO) FROM ORDER_TB O WHERE O.MEMBERID=#{memberId}) 
	</select>
	
	<select id="selectShippingDestination" resultType="ShippingDestination" parameterType="string">
		SELECT ROWNUM,A.*
			FROM (SELECT * FROM SHIPPINGDESTINATION WHERE MEMBERID=#{memberId} ORDER BY SDNO DESC) A
				WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<insert id="insertShippingDestination" parameterType="order">
		INSERT INTO SHIPPINGDESTINATION VALUES(SEQ_SHIPPINGDESTINATION.NEXTVAL,#{receiver},#{receiver},#{memberId},#{orZipcode},
			#{orAddress},#{orDetailAddress},#{orPhone})
	</insert>
	
	<resultMap id="myorderlist" type="com.kh.maison.order.model.vo.Order">
        <result property="orderNo" column="orderNo" />
        <result property="memberId" column="memberId" />
        <result property="payment" column="payment" />
        <result property="orderPrice" column="orderPrice" />
        <result property="totalPrice" column="totalPrice" />
        <result property="useMile" column="useMile"/>
        <result property="stackMile" column="useMile" />
        <result property="receiver" column="receiver" />
        <result property="sellRequest" column="sellRequest" />
        <result property="deliRequest" column="deliRequest" />
        <result property="orPhone" column="orPhone" />
        <result property="orZipcode" column="orZipcode" />
        <result property="orAddress" column="orAddress" />
        <result property="orDetailAddress" column="orDetailAddress" />
        <result property="orderStatus" column="orderStatus" />
        <result property="orderDate" column="orderDate" />
        <result property="cancelDate" column="cancelDate" />
        <!-- <association property="od"  javaType="orderDetail" >
             <result property="orderDetailNo"  column="orderDetailNo" />
             <result property="orderNo"  column="orderNo" />
             <result property="productNo"  column="productNo" />
             <result property="odAmount"  column="odAmount" />
             <result property="odPriceSum" column="odPriceSum" />
             <result property="productImg" column="productImg" />
             <result property="price" column="price" />
             <result property="productName" column="productName" />
        </association> -->
        <collection property="ods" resultMap="odsMap">
        </collection>
	</resultMap>
	<resultMap type="com.kh.maison.order.model.vo.OrderDetail" id="odsMap">
			<result property="orderDetailNo"  column="orderDetailNo" />
             <result property="orderNo"  column="orderNo" />
             <result property="productNo"  column="productNo" />
             <result property="odAmount"  column="odAmount" />
             <result property="odPriceSum" column="odPriceSum" />
             <result property="productImg" column="productImg" />
             <result property="price" column="price" />
             <result property="productName" column="productName" />
	</resultMap>
	<select id="selectMyOrderList" resultMap="myorderlist" parameterType="map">
		SELECT O.*,OD.*,P.PRODUCTIMG,P.PRODUCTNAME,P.PRICE,P.PRODUCTNO
		FROM ORDER_TB O
		JOIN ORDERDETAIL OD ON O.ORDERNO=OD.ORDERNO
		JOIN PRODUCT P ON OD.PRODUCTNO=P.PRODUCTNO
		WHERE O.MEMBERID=#{memberId}
		<if test="start!=null and end!=null">
		AND O.ORDERDATE BETWEEN TO_TIMESTAMP(#{start}, 'yyyy-mm-dd')
             	AND TO_TIMESTAMP(#{end}, 'yyyy-mm-dd') + 0.99999
		</if>
		ORDER BY O.ORDERNO DESC
	</select>

  	<select id="countMyOrderList" resultType="_int" parameterType="map">
  		SELECT COUNT(*)
		FROM ORDER_TB O
		JOIN ORDERDETAIL OD ON O.ORDERNO=OD.ORDERNO
		JOIN PRODUCT P ON OD.PRODUCTNO=P.PRODUCTNO
		WHERE O.MEMBERID=#{memberId}
		<if test="start!=null and end!=null">
		AND O.ORDERDATE BETWEEN TO_TIMESTAMP(#{start}, 'yyyy-mm-dd')
             	AND TO_TIMESTAMP(#{end}, 'yyyy-mm-dd') + 0.99999
		</if>
		ORDER BY O.ORDERNO DESC
  		
  	</select>
  	<select id="selectMyOrderListAll" resultType="order" parameterType="map">
  		SELECT ORDERSTATUS FROM ORDER_TB WHERE MEMBERID=#{memberId}
  	</select>
  	<select id="selectOrderOne" resultMap="myorderlist" parameterType="_int">
  		SELECT O.*,OD.*,P.PRODUCTIMG,P.PRODUCTNAME,P.PRICE,P.PRODUCTNO
		FROM ORDER_TB O
		JOIN ORDERDETAIL OD ON O.ORDERNO=OD.ORDERNO
		JOIN PRODUCT P ON OD.PRODUCTNO=P.PRODUCTNO
		WHERE O.ORDERNO=#{orderNo}
  	</select>
  	
	<delete id="deleteBasket" parameterType="basket">
		DELETE FROM BASKET WHERE BASKETNO=#{basketNo}
	</delete>
	

	<select id="selectOneOrder" parameterType="_int" resultType="order">
		SELECT * FROM ORDER_TB 
		WHERE ORDERNO=#{orderNo}
	</select>

	<select id="selectOrderList" resultType="order">
		SELECT * FROM ORDER_TB ORDER BY ORDERDATE DESC
	</select>
	
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM ORDER_TB
	</select>
	
	<update id="updateOrderStatus" parameterType="_int">
		UPDATE ORDER_TB
		SET ORDERSTATUS = 'c',
			CANCELDATE=SYSDATE
		WHERE ORDERNO=#{orderNo}
	</update>
	
	<select id="selectCancelList" parameterType="cancelSearch" resultType="Map">
	    SELECT O.*
        FROM ORDER_TB O
        WHERE (O.ORDERSTATUS='c'
        		OR O.ORDERSTATUS='d')
       	<if test="!type.equals('')">
			<if test="type.equals('memberId')">
				AND O.MEMBERID LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type.equals('orderNo')">
				AND O.ORDERNO LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		<if test="!startDate.equals('')">
			<if test="!endDate.equals('')">
				AND O.CANCELDATE BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD')
							AND TO_DATE(#{endDate},'YYYY-MM-DD')
			</if>
		</if>
		<if test="!orderStatus.equals('')">
			<if test="orderStatus.equals('c')">
				AND O.ORDERSTATUS='c'
			</if>
			<if test="orderStatus.equals('d')">
				AND O.ORDERSTATUS='d'
			</if>			
		</if>		
	</select>
	
	<select id="selectCancelListCount" parameterType="cancelSearch" resultType="_int">
		SELECT COUNT(*)
		FROM ORDER_TB O
        WHERE (O.ORDERSTATUS='c'
        		OR O.ORDERSTATUS='d')
       	<if test="!type.equals('')">
			<if test="type.equals('memberId')">
				AND O.MEMBERID LIKE '%'||#{keyword}||'%'
			</if>
			<if test="type.equals('orderNo')">
				AND O.ORDERNO LIKE '%'||#{keyword}||'%'
			</if>
		</if>
		<if test="!startDate.equals('')">
			<if test="!endDate.equals('')">
				AND O.CANCELDATE BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD')
							AND TO_DATE(#{endDate},'YYYY-MM-DD')
			</if>
		</if>
		<if test="!orderStatus.equals('')">
			<if test="orderStatus.equals('c')">
				AND O.ORDERSTATUS='c'
			</if>
			<if test="orderStatus.equals('d')">
				AND O.ORDERSTATUS='d'
			</if>			
		</if>        
	</select>
	
	<select id="selectCancelOne" parameterType="_int" resultType="Map">
		SELECT O.*,
               P.PRODUCTNO,P.PRODUCTNAME, P.PRODUCTIMG, P.PRICE, 
               D.ODAMOUNT
        FROM ORDER_TB O, ORDERDETAIL D, PRODUCT P
        WHERE O.ORDERNO=#{orderNo}
        AND O.ORDERNO = D.ORDERNO
        AND D.PRODUCTNO = P.PRODUCTNO
	</select>
	
	<update id="updateOrderStatusSecond" parameterType="_int">
		UPDATE ORDER_TB 
		SET ORDERSTATUS='d', CANCELDATE=SYSDATE
		WHERE ORDERNO=#{orderNo}
	</update>
	
	<delete id="deleteOrderDetail" parameterType="_int">
        DELETE FROM ORDERDETAIL 
        WHERE ORDERNO=#{orderNo}
	</delete>
  	<select id="countMyOrder" parameterType="map" resultType="_int">
  		SELECT COUNT(*) FROM ORDER_TB WHERE MEMBERID=#{memberId}
  	</select>
  
</mapper>
