<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.maison.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.maison.basket.model.vo.Basket" alias="basket"/>
		<typeAlias type="com.kh.maison.member.model.vo.Member" alias="member"/>
	</typeAliases>
</configuration>
