<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop">
  <select id="shopList" resultType="map">
  	SELECT * FROM PRODUCT
  </select>
  
  <select id="selectProduct" resultType="com.kh.maison.shop.vo.Product" parameterType="_int">
  	SELECT * FROM PRODUCT WHERE PRODUCTNO=#{no}
  </select>
  
</mapper>
